.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #dddddd;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

@media only screen and (min-width: 1000px) {
  .showShopping {
    width: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .showShopping {
    width: 100%;
    z-index: 49;
    padding-top: 55px;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#openSideBarShop {
  position: fixed;
  right: 20px;
  top: 15%;
  z-index: 2;
  width: 100px;
  text-align: center;
}
