<div id="summary_container" class="container">
  <div class="row">
    <div class="main-col col col-md-6">

    <div class="row">
      <div class="col col-lg-10">
        <h2>Adresse de facturation :</h2>
      </div>
      <div class="col col-lg-2">
        <img height="40px" src="../../../../../../assets/location-Map.png" alt="locationIcon" />
      </div>
    </div>
    

      <p>Rue :</p>
      <p>Code postal :</p>
      <p>Pays :</p>
      <p>Ville :</p>
    </div>
    <div class="main-col col col-md-6">

      <div class="row">
        <div class="col col-lg-10">
          <h2>Panier :</h2>
        </div>
        <div class="col col-lg-2">
          <img height="40px" src="../../../../../../assets/shopping-cart.png" alt="locationIcon" />
        </div>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Titre jeu</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

