#summary_container .main-col {
  padding: 5px;
  background-color: #d9e1e8;
  border: 3px solid white;
  border-radius: 6px;
}

#summary_container h2 {
  color: #282c37;
  border-bottom: 1px solid white;
}

#adress_container img {
  border-bottom: 2px solid #282c37;
}
