.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item .thumbnail {
  width: 100%;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
  background-color: #dddddd;
}

.img-event img {
  background-color: #dddddd;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: ' ';
}

.item.list-group-item:after {
  clear: both;
}

.toolbar {
  //   height: 45px;
  //   position: absolute;
  //   bottom: 0px;
  //   right: 0px;
  button {
    float: right;
    // width: 100px;
    // position: absolute;
  }
}

.my-btn-info,
.my-btn-info:hover,
.my-btn-info:active,
.my-btn-info:visited {
  background-color: #d9e1e8 !important;
}

.my-btn-danger,
.my-btn-danger:hover,
.my-btn-danger:active,
.my-btn-danger:visited {
  background-color: #d9e1e8 !important;
}

.my-btn-info-shop,
.my-btn-info-shop:hover,
.my-btn-info-shop:active,
.my-btn-info-shop:visited {
  background-color: #2b90d9;
  color: #fff;
}
