.item {
  min-width: 300px;
  // max-width: 300px;
  // margin-left: auto;
  // margin-right: auto;
}

.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
}

.thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.thumbnail:hover .coverImg,
.thumbnail:focus .coverImg {
  transform: scale(1.1);
  cursor: pointer;
}

.item.list-group-item .thumbnail {
  width: 100%;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
  background-color: #dddddd;
}

.img-event {
  overflow: hidden;
}

.img-event .coverImg {
  background-color: #dddddd;
  width: 100%;
  height: 280px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  float: left;

  background-repeat: no-repeat;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}

.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: ' ';
}

.item.list-group-item:after {
  clear: both;
}

.toolbar {
  //   height: 45px;
  //   position: absolute;
  //   bottom: 0px;
  //   right: 0px;
  button {
    float: right;
    // width: 100px;
    // position: absolute;
  }
}

.my-btn-info,
.my-btn-info:visited {
  background-color: #d9e1e8 !important;
}

.my-btn-danger,
.my-btn-danger:visited {
  background-color: #d9e1e8 !important;
}

.my-btn-info-shop,
.my-btn-info-shop:visited {
  background-color: #2b90d9;
  color: #fff;
}

.my-btn-info:hover,
.my-btn-info:active,
.my-btn-danger:hover,
.my-btn-danger:active {
  color: #2b90d9 !important;
}

.active_filter {
  color: #f4511e !important;
}

.filters_toolbar {
  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none;
  }
  border-radius: 3px;
}
