<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container-fluid">

  <div class="row">
  <div class="col-lg-12 my-3">

    <div class="text-center">

      <div class="btn-group filters_toolbar">

        <ng-multiselect-dropdown [placeholder]="'Platforms'" [data]="platforms" [(ngModel)]="selectedPlatforms"
          [settings]="dropdownSettings" (onSelect)="onItemSelect()" (onDeSelect)="onItemDeselect()"
          (onSelectAll)="onSelectAll()" class="btn my-btn-info">
        </ng-multiselect-dropdown>
        <button class="btn my-btn-info" [ngClass]="{'active_filter': isAscSort === false}" (click)="sortByPriceDesc()"><i class="fa fa-sort" aria-hidden="true"></i> Prix décroissant</button>
        <button class="btn my-btn-info" [ngClass]="{'active_filter': isAscSort === true}" (click)="sortByPriceAsc()"><i class="fa fa-sort" aria-hidden="true"></i> Prix croissant</button>

        <button class="btn my-btn-info" [ngClass]="{'active_filter': isList}" id="list" (click)="isList = !isList">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>
        <button class="btn my-btn-danger" [ngClass]="{'active_filter': !isList}" id="grid" (click)="isList = !isList">
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </button
      </div>

    </div>

  </div>

  </div>
  
</div>  

<div id="products" class="row view-group">

  <div *ngFor="let item of items;" class="item grid-group-item col-xs-4 col-md-4 col-lg-3"
    [ngClass]="{'list-group-item': isList}">
    <div class="thumbnail">
      <div class="img-event">
        <div [routerLink]="['/games', item.id]" *ngIf="!item.game.media[0]" class="coverImg"
          [ngStyle]="{'background-image':'url( https://www.kasterencultuur.nl/editor/placeholder.jpg)'}"></div>

        <div [routerLink]="['/games', item.id]" *ngIf="item.game.media[0]" class="coverImg"
          [ngStyle]="{'background-image':'url(' + item.game.media[0].url + ')'}"></div>
      </div>
      <div class="caption card-body">
        <h4 class="group card-title inner list-group-item-heading">
          {{item.game.name}}</h4>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>Note: *****</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>Platforme : {{item.platform.name}}</p>
          </div>
        </div>
        <p class="group inner list-group-item-text text-justify">
          {{(item.game.description | slice:0:110)+'...'}}</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              {{item.price | number:'1.2-5'}}€</p>
          </div>
          <div class="col-xs-12 col-md-6 toolbar">
            <button type="button" class="btn my-btn-info-shop" [routerLink]="['/games', item.id]">Voir <i
                class="fa fa-eye" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>