  <div class="container" id="myWizard">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <h3><i class="fa fa-user" aria-hidden="true"></i></span>&nbsp;Vérification</h3>
      </div>
    </div>
    <hr>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1"
        aria-valuemax="4" style="width: 25%;">
        Etape 1 sur 3
      </div>
    </div>

    <jhi-address-update></jhi-address-update>

  </div>