<div>
    <h2 id="page-heading">
        <span jhiTranslate="bofgamesApp.cartLine.home.title">Cart Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-line" [routerLink]="['/cart-line/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bofgamesApp.cartLine.home.createLabel">
            Create a new Cart Line
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bofgamesApp.cartLine.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="cartLines?.length === 0">
        <span jhiTranslate="bofgamesApp.cartLine.home.notFound">No cartLines found</span>
    </div>
    <div class="table-responsive" *ngIf="cartLines?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bofgamesApp.cartLine.quantity">Quantity</span></th>
            <th><span jhiTranslate="bofgamesApp.cartLine.unitPrice">Unit Price</span></th>
            <th><span jhiTranslate="bofgamesApp.cartLine.expired">Expired</span></th>
            <th><span jhiTranslate="bofgamesApp.cartLine.cart">Cart</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cartLine of cartLines ;trackBy: trackId">
                <td><a [routerLink]="['/cart-line', cartLine.id, 'view' ]">{{cartLine.id}}</a></td>
                <td>{{cartLine.quantity}}</td>
                <td>{{cartLine.unitPrice}}</td>
                <td>{{cartLine.expired}}</td>
                <td>
                    <div *ngIf="cartLine.cart">
                        <a [routerLink]="['/cart', cartLine.cart?.id, 'view' ]" >{{cartLine.cart?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cart-line', cartLine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart-line', cartLine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart-line', { outlets: { popup: cartLine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
