<div class="wrapper">
  <!-- HEADER -->
  <div id="headerCard">
    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <button *ngIf="isFull" type="button" class="btn btn-secondary" [routerLink]="['/games']"><i class="fa fa-chevron-left"
              aria-hidden="true"></i> Retour</button>
          <!-- Condition -->
          <button *ngIf="!isFull" type="button" class="btn btn-outline-secondary closebtn" (click)="closeNav()">Cacher <i
              class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- HEADER -->

  <!-- <jhi-modal-component></jhi-modal-component> -->
  <!-- <jhi-modal-delete-component></jhi-modal-delete-component> -->



  <ng-template #content_delete_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Supprimer produit</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Voulez vous supprimer le {{itemName}} du panier</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d()">Annuler</button>
      <button type="button" class="btn btn-danger" (click)="confirm_delete()">Supprimer</button>
    </div>
  </ng-template>
  
  <div class="content">
    <div> 
      
      <!-- Content -->
      <div class="container mb-4">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <!-- Titre du panier -->
                <tr>
                  <th *ngIf="isFull" scope="col"> </th>
                  <th scope="col">Produit</th>
                  <th scope="col">Plateforme</th>
                  <th scope="col" class="text-center">Quantité</th>
                  <th scope="col" class="text-right">Prix</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="this.cart && this.cart.cartLines.length > 0">
                <!-- Start for here for each iteams -->
                <tr *ngFor="let cartLine of this.cart.cartLines;">
                  <td *ngIf="isFull"><img *ngIf="cartLine.item.game.media" width="20" height="40" src="{{cartLine.item.game.media[0].url}}"/> </td>
                  <td>{{cartLine.item.game.name}}</td>
                  <td>{{cartLine.item.platform.name}}</td>
                  <td class="text-center">
                    <!-- input plus minus -->
                      <div class="numberCard">
                        <span (click)="downQty(cartLine.item.id)" class="noselect minus">-</span>
                        <span class="noselect number_value">{{cartLine.quantity}}</span>
                        <span (click)="upQty(cartLine.item.id)" class="noselect plus">+</span>
                      </div>
                    <!--  -->
                  </td>
                  <td class="text-right">{{cartLine.unitPrice | number:'1.2-5'}}€</td>
                  <td class="text-right"><button class="btn btn-sm my-btn-danger" (click)="open_delete_modal(content_delete_modal,cartLine.item.id,cartLine.item.game.name)" ><i class="fa fa-trash"></i> </button> </td>
                </tr>
                <!-- end for -->
                <tr>
                  <!-- Empty colomns don't delete-->
                  <td *ngIf="condition"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong>Total</strong></td>
                  <td class="text-right"><strong>{{getTotal() | number:'1.2-5'}}€</strong></td>
                </tr>
              </tbody>
              <tbody *ngIf="!this.cart || this.cart.cartLines == null || this.cart.cartLines.length == 0">Aucun article dans le panier</tbody> 
            </table>
          </div>
        </div>
        </div>
      <!-- Content -->

    </div>
  </div>



  <!-- FOOTER -->
  <div class="footerCard">
    <div class="container mb-4">
        <div class="col mb-2">
          <div class="row">
            <div id="seeShoppingCart" class="col-sm-12">
              <button *ngIf="!isFull" (click)="closeNav()" class="btn btn-lg btn-block my-btn-info-shop" [routerLink]="['/shopingCart']">Voir Panier <i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-12 col-md-12 text-right">
              <button *ngIf="isFull" class="btn btn-lg btn-block my-btn-success text-uppercase"><i class="fa fa-credit-card"></i> <span>
                  Commander</span> </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- FOOTER -->
</div>