<div class="container" *ngIf="item">
  <div class="row"  id="header_item">
    <button title="Retourner sur la page principale" type="button" class="btn btn-outline-secondary" [routerLink]="['/games']"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</button>
  </div>
  <div id="game_content_description" class="row">
    <div class="col col-md-3 game_cover_space">
      <img *ngIf="item.game.media != null && item.game.media[0]" src="{{item.game.media[0].url}}" alt="{{item.game.media[0].alt}}" />
      <img *ngIf="item.game.media == null || !item.game.media[0]" src="https://www.kasterencultuur.nl/editor/placeholder.jpg" alt="Image not found"/>
    </div>
    <div class="col col-md-9">
      <div class="container">
        <h1>{{item.game.name}}</h1>
        <h5>Note : 

          <span *ngFor="let m of mark | fill">
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <span *ngFor="let m of (5 - mark) | fill">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </h5>
        <div id="supportedgame">
          <p>Platforme : </p>
          <img title="PC" src="../../../../../../assets/platforms/windows.png" alt="PC" *ngIf="item.platform.name === 'PC'" />
          <img title="PS" src="../../../../../../assets/platforms/playstation.png" alt="PS" *ngIf="item.platform.name === 'PS'" />
          <img title="Xbox" src="../../../../../../assets/platforms/xbox.png" alt="Xbox" *ngIf="item.platform.name === 'Xbox'" />
        </div>
        
          <h4>Description :</h4>
          <p class=" text-justify">{{item.game.description}}</p>
      </div>
      

      </div>


  </div>

  
  <div class="row" id="item_footer">
      <div id="game-price">
        <h3>{{item.price | number:'1.2-5'}}€</h3> <!-- TODO gerer la virgule -->
      </div>
      <button title="Ajouter cette article dans le panier" id="panier" type="button" class="btn btn-primary" (click)="addToCard()"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
  </div>
</div>

<!-- <commentaires></commentaires> -->