<div class="container">
  <div class="row"  id="header_item">
    <button type="button" class="btn btn-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</button>
  </div>
  <div class="row">
    <div class="col col-md-3 game_cover_space">
      <img src="https://via.placeholder.com/150" alt="game_cover"/>
    </div>
    <div class="col col-md-9">
      <h1>Game title</h1>
      <p>Note: </p><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
      <p>Platforme:</p>
        <div id="supportedgame">
          <img src="../../../../../assets/platforms/windows.png" alt="PC"/>
          <img src="../../../../../assets/platforms/playstation.png" alt="PS"/>
          <img src="../../../../../assets/platforms/xbox.png" alt="Xbox"/>
        </div>
      </div>
  </div>

  <div class="row text-justify">
    <h2>Description</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident corporis nemo consequuntur laborum quam rerum vitae nostrum rem. Et obcaecati rerum aut molestias repudiandae ipsam incidunt eaque aperiam nam expedita.</p>
  </div>

  <div class="row" id="item_footer">
      <div id="game-price">
        <h3>4€</h3><h5>99</h5>
      </div>
      <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
  </div>
</div>

<!-- <commentaires></commentaires> -->