<div class="container">
  <div class="row">
    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i>Retour</button>
    <button type="button" class="btn btn-secondary"><i class="fas fa-share-alt"></i>Partager</button>
  </div>
  <div class="row">
    <div class="col col-md-3">
      <img src="https://via.placeholder.com/150" alt="game_cover"/>
    </div>
    <div class="col col-md-9">
      <h1>Game title</h1>
      <p>Note: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <p>Platforme:</p>
      <img src="https://via.placeholder.com/50" alt="PC"/>
      <img src="https://via.placeholder.com/50" alt="PS4"/>
      <img src="https://via.placeholder.com/50" alt="Xbox"/>
    </div>
  </div>

  <div class="row text-justify">
    <h2>Description</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident corporis nemo consequuntur laborum quam rerum vitae nostrum rem. Et obcaecati rerum aut molestias repudiandae ipsam incidunt eaque aperiam nam expedita.</p>
  </div>

  <div class="row">
    <div class="col col-md-6">
    </div>
    <div class="col col-md-3 text-right">
      <div id="game-price">
        <h3>4€</h3><h5>99</h5>
      </div>
    </div>
      <div class="col col-md-3">
        <button  type="button" class="btn btn-primary"><i class="glyphicon glyphicon-shopping-cart"></i> Ajouter au panier</button>
      </div>
  </div>
</div>
