<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promo">
            <h2><span jhiTranslate="bofGamesApp.promo.detail.title">Promo</span> {{promo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bofGamesApp.promo.sale">Sale</span></dt>
                <dd>
                    <span>{{promo.sale}}</span>
                </dd>
                <dt><span jhiTranslate="bofGamesApp.promo.start">Start</span></dt>
                <dd>
                    <span>{{promo.start}}</span>
                </dd>
                <dt><span jhiTranslate="bofGamesApp.promo.end">End</span></dt>
                <dd>
                    <span>{{promo.end}}</span>
                </dd>
                <dt><span jhiTranslate="bofGamesApp.promo.item">Item</span></dt>
                <dd>
                    <div *ngIf="promo.item">
                        <a [routerLink]="['/item', promo.item?.id, 'view']">{{promo.item?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promo', promo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
