.userdetails {
  margin-top: 10px;
  padding: 5px 5px 50px 5px;
  h3 {
    font-size: 1.2em;
    margin: 3px;
    b {
      font-weight: bold;
    }
  }
  p {
    font-weight: bold;
  }
}

#modify-data-btn {
  float: right;
}

.my-btn-info-shop,
.my-btn-info-shop:visited {
  background-color: #2b90d9;
  color: #fff;
}

.my-btn-info-shop:hover,
.my-btn-info-shop:active {
  background-color: #2776af;
}
